@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: $background;
  color: $black;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Open Sans";
  background: #FAFAFC;
}

.main {
  max-width: 600px;
  width: 100%;
}

.header {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 48px;
}

.form {
  &__action {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    background: #fff;
    border: 1px solid #121232;
    border-radius: 4px;
    padding: 16px;
    min-width: 200px;
    font-weight: 600;
    letter-spacing: 0.5px;
    &--save {
      background: #121232;
      color: #fff;
    }
  }
  &__label {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  &__textarea {
    background: #fff;
    border: 1px solid #d3d4d8;
    border-radius: 6px;
    font-size: 14px;
    height: 100%;
    line-height: 24px;
    min-width: 40vh;
    min-height: 30vh;
    width: 100%;
    padding: 12px;
  }
}

