@import "_normalize";
@import "_variables";
@import "_breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: $background;
  color: $black;
  display: flex;
  font-family: "Open Sans";
  justify-content: center;
  min-height: 100vh;
  @media (max-width: $mobile) {
    min-height: 92vh;
  }

}


.main {
  max-width: 600px;
  margin: 0 20px;
  width: 100%;
}

.header {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 48px;
  @media (max-width: $mobile) {
    margin-bottom: 36px;
  }
}

.form {
  &__action {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    @media (max-width: $mobile) {
      margin-top: 36px;
    }
    &--lower {
      margin-top: 32px;;
      @media (max-width: $mobile) {
        margin-top: 24px;
      }
    }
    &--clear {
      justify-content: center;
    }
  }
  &__button {
    background: $white;
    border: 1px solid $violet;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.5px;
    min-width: 200px;
    padding: 16px;
    &:hover {
      transform: scale(1.1);
    }
    &--save {
      background: $violet;
      color: $white;
      &:active {
        background: $white;
        color: $black;
      }
    }
    &--load {
      &:active {
        background: $violet;
        color: $white;
      }
    }
    &--clear {
      &:active {
        background: linear-gradient(45deg, $white, $violet);
      }
    }
    @media (max-width: $mobile) {
    min-width: 100px;
    }
  }
  &__label {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
  }
  &__textarea {
    background: #fff;
    border: 1px solid #d3d4d8;
    border-radius: 6px;
    font-size: 14px;
    height: 100%;
    line-height: 24px;
    min-width: 40vh;
    min-height: 30vh;
    padding: 12px;
    width: 100%;
    @media (max-width: $mobile) {
      min-height: 20vh;
    }
  }
}
